.servers__list {
  max-width: 50%;
}
.servers__list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.servers__list-table {
  margin-top: 10px;
  margin-bottom: 20px;
}
.servers__list-title-info {
  margin-right: 10px;
  font-weight: bold;
  font-size: 15px;
}

.server__info {
  margin-top: 50px;
  width: 40%;
  max-width: 40%;
}

.server__info-statistic .ant-statistic-content {
  font-size: 18px;
}

.server__info-list__item {
  padding-left: 0 !important;
  padding-right: 0 !important;
}