body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout-main {
  background-color: #fff;
}

.header-main {
  background-color: #fff;
  height: 50px;
  padding: 0 50px;
  line-height: 50px;
}

.content-main {
  padding: 15px 50px;
}

h3 {
  margin: 0px 0 8px;
  font-size: 18px;
}